.screen {
  display: flex;
  justify-content: center;
}

.products img {
  width: 50vw;
  padding: 20px;
  float: right;
}

.left-panel {
  width: 50vw;
  float: left;
  padding: 20px;
  position: sticky
}

.type-filter {
  padding: 10px 0 10px 0;
}

.type-filter button {
  margin: 0 20px 0 20px;
  width: 160px;
  font-weight: 600;
  font-size: 30px;
  border-radius: 3px;
}

.color-filter {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 10px;
  padding: 10px 0 10px 0;
}

.color-block {
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 3px solid rgb(72, 72, 72);
  box-sizing: border-box;
  border-radius: 3px;
}

.bold-type {
  background-color: #cfcfcf;
}

.bold-border {
  border: 8px solid rgb(91, 91, 91);
  box-sizing: border-box;
}

.size-block {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(72, 72, 72);
  font-size: 30pt;
  text-align: center;
  line-height: 100px;
  border-radius: 3px;
  font-weight: 600;
}
.bold-size {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(72, 72, 72);
  font-size: 30pt;
  text-align: center;
  line-height: 100px;
  border-radius: 3px;
  font-weight: 600;
  border: 8px solid rgb(91, 91, 91);
  box-sizing: border-box;
}

.size-filter {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 30px;
  width: 100%;
  padding: 0 0 0 160px;
}

.color-block:hover {
  border: 8px solid rgb(116, 116, 116);
  box-sizing: border-box;
}
.size-block:hover {
  border: 8px solid rgb(116, 116, 116);
  box-sizing: border-box;
}

#red-block {
  background-color: red;
}
#orange-block {
  background-color: orange;
}
#yellow-block {
  background-color: rgb(246, 246, 118);
}
#green-block {
  background-color: rgb(90, 218, 90);
}
#blue-block {
  background-color: rgb(56, 56, 255);
}
#purple-block {
  background-color: rgb(169, 64, 234);
}
#pink-block {
  background-color: rgb(255, 152, 170);
}
#black-block {
  background-color: black;
}
#white-block {
  background-color: white;
}
#grey-block {
  background-color: grey;
}

.product-grid {
  width: 75vw;
  float: right;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
  height: 1200px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card img {
  width: 100%;
  height: 100%;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.product-info h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
}

.product-info p {
  margin: 0;
  padding: 5px 0;
}

button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: 2px solid black;
  cursor: pointer;
  font-size: x-large;
}

button:hover {
  background-color: #cfcfcf;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
