p {
    font-size: 20px;
}
li {
    font-size: 20px;
}
h1 {
    font-size: 40px;
    font-weight: 600;
}

.screen {
    display: flex;
}

.panel1 {
    width: 1000px;
    margin: 20px;
}

.product-image {
    border: 2px solid black;
    height: 1140px;
    margin: 150px 150px 0 150px;
}

.zara-logo {
    width: 21.3vw;
}

.panel3 {
    width: 1000px;
    margin: 20px;
}

.searchBar {
    width: 50vw;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    padding: 0;
}

.details {
    margin-top: 130px;
    border: 2px solid black;
    padding: 20px;
    height: 1100px;
    overflow-y: scroll;
}

.item-info {
    margin-top: 130px;
    margin-left: 50px;
    border: 2px solid black;
    padding: 20px 50px 50px 50px;
}
.item-info h1 {
    font-size: 50pt;
    font-weight:600;
}
.item-info p {
    font-size: 30pt;
}

/* .navbar {
    height: 20vh;
}
.navbar svg {
    height: 100%;
    padding: 20px;
}

.screen {
    display: flex;
}

.panel1 {
    width: 33vw;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.details {
    width: 75%;
    align-self: center;
}

.panel2 {
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel2 img {
    border: 2px solid black;
    width: 75%;
}

.panel3 {
    width: 33vw;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.item-info {
    width: 75%;
    align-self: center;
} */